<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>万里下单科技</title>
    <script src="./js/vue.js"></script>
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <!-- element 2.15.12 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.12/lib/theme-chalk/index.css" />
    <script src="https://unpkg.com/element-ui@2.15.12/lib/index.js"></script>
    <!-- ant design vue 1.7.8 -->
    <link rel="stylesheet" href="https://unpkg.com/ant-design-vue@1.7.8/dist/antd.min.css" />
    <script src="https://unpkg.com/ant-design-vue@1.7.8/dist/antd.min.js"></script>
    <style>
        #app {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .baowei {
            width: 43.75rem;
            height: 37.5rem;
            border: .0625rem solid #000;
        }

        .title {
            text-align: center;
            font-weight: 600;
            font-size: 1.5rem;
            border-bottom: .0625rem solid #000;
        }

        .left {
            width: 50%;
        }

        .right {
            width: 50%;
        }

        .ant-table-tbody {}

        /* .ant-table-body{
            height: 30rem !important;
            overflow: auto !important;
        } */
    </style>

</head>

<body style="height: 100%;">
    <div id="app" style="height: 100%;" v-cloak>
        <div class="baowei">
            <div class="title">万里下单科技</div>
            <div style="display: flex;">
                <div class="left" style="height: 100%;">
                    <!-- text-align: center; -->
                    <div class="top" style="border:.0625rem solid #000;margin: .625rem;padding: .625rem;height: 50%;">
                        <div style="font-weight: 600;font-size: 1.5rem;">登录</div>
                        <div>
                            <a-form-model layout="inline" :model="formInline" @submit="handleSubmit"
                                @submit.native.prevent>
                                <a-form-model-item>
                                    <a-input style="width:12.5rem;" v-model="formInline.user" placeholder="手机号">
                                        <a-icon slot="prefix" type="user" style="color:rgba(0,0,0,.25)" />
                                    </a-input>
                                </a-form-model-item>
                                <a-form-model-item>
                                    <a-input style="width:12.5rem;" v-model="formInline.password" type="password"
                                        placeholder="密码">
                                        <a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" />
                                    </a-input>
                                    <a-input style="width:12.5rem;" v-model="formInline.token" placeholder="token">
                                        <a-icon slot="prefix" type="lock" style="color:rgba(0,0,0,.25)" />
                                    </a-input>
                                </a-form-model-item>
                                <a-form-model-item>
                                    <a-button style="margin:0 auto;" type="primary" html-type="submit"
                                        :disabled="formInline.user === '' || formInline.password === ''">
                                        登录
                                    </a-button>
                                </a-form-model-item>
                            </a-form-model>
                        </div>
                    </div>

                    <div class="bottom"
                        style="border:.0625rem solid #000;margin: .625rem;padding: .625rem;height: 50%;">
                        <div style="font-weight: 600;font-size: 1.5rem;">配置</div>
                        <div>
                            <a-form-model layout="inline">
                                <a-form-model-item label="选择商品" prop="region">
                                    <a-select show-search :filter-option="searchBrand" style="width:12.5rem;"
                                        v-model="goodsId" @change="changeClick" placeholder="选择商品">
                                        <a-select-option :value="item.id" v-for="(item,index) in goodsList"
                                            :key="index">
                                            {{item.name}}
                                        </a-select-option>
                                    </a-select>
                                </a-form-model-item>


                                <a-form-model-item label="下单数量" prop="region">
                                    <a-input style="width:12.5rem;" v-model="num" />
                                </a-form-model-item>
                                <a-form-model-item label="最高价" prop="region">
                                    <a-input style="width:12.5rem;" v-model="price" />
                                </a-form-model-item>

                                <a-form-model-item label="延迟/秒" prop="region">
                                    <a-input style="width:12.5rem;" v-model="yanchi" />
                                </a-form-model-item>



                                <a-form-model-item style="text-align: center;">
                                    <a-button style="margin:0 1.25rem;" type="primary" @click="xiadan">
                                        立即下单
                                    </a-button>

                                    <a-button style="margin:0 0rem;" @click="tingzhi">
                                        停止下单
                                    </a-button>
                                </a-form-model-item>
                            </a-form-model>


                            <div style="height: 1.875rem;"></div>
                        </div>
                    </div>

                </div>

                <div class="right">
                    <div class="top" style="border:.0625rem solid #000;margin: .625rem;height: 97%;">
                        <div style="font-weight: 600;font-size: 1.5rem;">下单记录</div>
                        <div>
                            <!-- <a-table :columns="columns" :data-source="data"  :pagination="false">
                               
                            </a-table> -->

                            <div
                                style="display: flex;justify-content: center;border: .0625rem solid #000;padding: .625rem;border-left:none;border-right:none;">
                                <div style="flex:1;text-align: center;" v-for="(item,index) in columns" :key="index">
                                    {{item.title}}</div>
                            </div>
                            <div style="overflow: auto;height: 28.75rem;">
                                <div style="display: flex;justify-content: center;padding: .625rem;border-bottom:1px solid #000;"
                                    v-for="(item,index) in data" :key="index">
                                    <div style="flex:1;text-align: center;">{{index}}</div>
                                    <div style="flex:1;text-align: center;">{{goodsName}}</div>
                                    <div style="flex:1;text-align: center;">{{item.code==0?'无':'成功'}}</div>
                                    <!-- <div style="flex:1;text-align: center;">{{item.url}}</div> -->
                                    <div style="flex:1;text-align: center;">{{item.msg}}</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
</body>

</html>
<script>

    // 设置请求拦截器，在发送请求前添加token到请求头
    axios.interceptors.request.use(config => {
        let userinfo = JSON.parse(localStorage.getItem('userinfo'))
        if (userinfo && userinfo.token) {
            config.headers.token = userinfo.token;
        }
        return config;
    }, error => {
        return Promise.reject(error);
    });




    new Vue({
        el: '#app',
        data: {
            formInline: {
                user: '',
                password: '',
                token: '',
            },
            goodsId: '',
            goodsList: [
            ],

            num: 1,
            price: 0,
            yanchi: 5,
            goodskey: '',
            statusbox: true,
            goodsName: '',

            columns: [
                {
                    title: '序号',
                    dataIndex: 'key',
                    key: 'key',
                },
                {
                    title: '名称',
                    dataIndex: 'name',
                    key: 'name',
                },
                {
                    title: '状态',
                    dataIndex: 'status',
                    key: 'status',
                },
                // {
                //     title: '支付链接',
                //     dataIndex: 'url',
                //     key: 'url',
                // },
                {
                    title: '描述',
                    dataIndex: 'detail',
                    key: 'detail',
                },
            ],
            data: [
                // {"code":1,"msg":"下单成功","time":"1690361269","data":null}
                // {"code":0,"msg":"未找到合适商品","time":"1690342671","data":null},
            ],
        },
        created() {
            let that = this


            let userinfo = JSON.parse(localStorage.getItem('userinfo'))
            if (userinfo && userinfo.token) {
                this.formInline.token = userinfo.token
                this.formInline.user = userinfo.mobile

            }


            // params
            // 列表
            axios.post('https://app-api.mayi.art/api/market/market/getMarketList',
                { "goods_type": 2, "page": 1, "list_rows": 10, "series_id": 0, "isagreement": 1 }
            )
                .then(function (response) {
                    console.log(response);
                    if (response.data.code == 1) {
                        that.goodsList = response.data.data
                    } else {
                        // 弹窗
                        that.$message.error(response.data.msg);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });

        },
        methods: {
            changeClick(e) {
                console.log(e)

                // 
                let that = this
                // 'https://app-api.mayi.art/api/market/market/marketGoodsDetail', 
                // {"id":e,"type":2},
                // Headers:{
                //     token:that.formInline.token
                // }
                axios.post(
                    'https://app-api.mayi.art/api/market/market/marketGoodsDetail',
                    { "id": e, "type": 2 },
                    {
                        token: that.formInline.token
                    },
                )
                    .then(function (response) {
                        console.log(response);
                        if (response.data.code == 1) {
                            that.goodskey = response.data.data.key
                            that.goodsName = response.data.data.name

                        } else {
                            // 弹窗
                            that.$message.error(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });



            },
            xiadan() {
                console.log(this.goodsId)
                console.log(this.num)
                console.log(this.price)
                console.log(this.yanchi)
                console.log(this.goodskey)
                this.statusbox = true
                if (this.goodsId) {
                    // 下单
                    this.xiadanCLikc()
                } else {
                    this.$message.error('请选择需要抢购的商品');
                }
            },
            xiadanCLikc() {
                let that = this

                if (that.statusbox) {
                    const apiURL = 'https://app-api.mayi.art/api/order/pay/batchBuy';
                    const token = '';
                    const params = {
                        price: this.price, //最高能接受的价格
                        num: this.num,//要下单的数量
                        key: this.goodskey,//key
                        goods_id: this.goodsId,//商品id
                        pay_way: 'yibao,huifu',//支付方式 易宝还是汇付
                        isagreement: '1',//别动
                    };
                    // 下单
                    axios.post(apiURL, params)
                        .then(function (response) {
                            console.log(response);
                            if (response.data.code == 1) {
                                // that.$message.success(response.data.msg);
                                // localStorage.setItem('userinfo',JSON.stringify(response.data.data.userinfo))
                                // that.formInline.token = response.data.data.userinfo.token


                                if (data.code == 1) {
                                    console.log('API调用成功');
                                    alert('下单成功')
                                } else {
                                    if (that.statusbox) {
                                        that.delay(that.yanchi); // 等待1秒后再次发起调用
                                    }
                                }


                            } else {
                                if (that.statusbox) {
                                    that.delay(that.yanchi); // 等待1秒后再次发起调用
                                }
                                // 弹窗
                                // that.$message.error(response.data.msg);
                            }

                            that.data.unshift(response.data)


                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            tingzhi() {
                this.statusbox = !this.statusbox
                console.log(this.statusbox)

            },
            delay(ms) {
                setTimeout(() => {
                    this.xiadanCLikc()
                }, ms * 1000)
                // return new Promise((resolve) => setTimeout(resolve, ms));
            },
            searchBrand(value, option) {
                return option.componentOptions.children[0].text.indexOf(value) >= 0
            },
            handleSubmit(e) {
                let that = this
                console.log(this.formInline);


                // {"code":1,"msg":"登录成功","time":"1690339875","data":{"userinfo":{"id":289518,"username":"18565923664","nickname":"万里起飞","mobile":"18565923664","avatar":"\/defautAvatar.png","score":0,"inviter_code":"O263289518","yao_count":0,"huifu_service_charge":1,"yibao_status":1,"is_show_rank":0,"token":"291cd37f-6d4c-42b4-bcf5-06ef324c99a0","user_id":"289518","expiretime":1692931875,"expires_in":2592000,"is_exist":1}}}


                // 登录
                axios.post('https://app-api.mayi.art/api/user/login',
                    { "account": this.formInline.user, "password": this.formInline.password }
                )
                    .then(function (response) {
                        console.log(response);
                        if (response.data.code == 1) {
                            that.$message.success(response.data.msg);
                            localStorage.setItem('userinfo', JSON.stringify(response.data.data.userinfo))
                            that.formInline.token = response.data.data.userinfo.token

                            // that.setToken()

                        } else {
                            // 弹窗
                            that.$message.error(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            // sewe(){

            // }
        },
    })
</script>